Repository navikt/pleiepenger-barn-uttak, pull requests merged in 2021-06, with the labels that each got.

#214 feat: deploy kontrakter med semver
  .github/workflows/master.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release-kontrakt.yml
Labels: feature

#216 fix: path til settings.xml
  .github/workflows/release-kontrakt.yml
Labels: bug

#217 fix: mangler TAG env var
  .github/workflows/master.yml
Labels: bug

#218 fix: mangler timestamp på TAG
  .github/workflows/master.yml
Labels: bug

#220 fix: GITHUB_PASSWORD
  .github/workflows/release-kontrakt.yml
Labels: bug

#223 fix: deploy fra ghcr.io
  .github/workflows/promote.yaml
Labels: bug

#225 fix: drop publisering til docker packages
  .github/workflows/master.yml
Labels: bug

#227 fix: trenger fortsatt flatten-maven-plugin med ci-friendly version numbers
  pom.xml
Labels: bug

#229 Nye årsaker for perioder godkjent etter barns død.
  kontrakter/src/main/kotlin/no/nav/pleiepengerbarn/uttak/kontrakter/Årsak.kt
  regler/src/main/kotlin/no/nav/pleiepengerbarn/uttak/regler/delregler/BarnsDødRegel.kt
  regler/src/test/kotlin/no/nav/pleiepengerbarn/uttak/regler/delregler/BarnsDødRegelTest.kt
Labels: domene/kontrakt
