Repository navikt/pleiepenger-barn-uttak, pull requests merged in 2021-11, with the labels that each got.

#322 Retter feil i sammenlikning som gir feilaktig false.
  regler/src/main/kotlin/no/nav/pleiepengerbarn/uttak/regler/UttakTjeneste.kt
Labels: bug

#337 Fjerner felt i kontrakt som ikke er i bruk lengre. Fjerner også valid…
  kontrakter/src/main/kotlin/no/nav/pleiepengerbarn/uttak/kontrakter/Uttaksgrunnlag.kt
  regler/src/main/kotlin/no/nav/pleiepengerbarn/uttak/regler/KontraktValidator.kt
  regler/src/test/kotlin/no/nav/pleiepengerbarn/uttak/regler/KontraktValidatorTest.kt
  server/src/test/kotlin/no/nav/pleiepengerbarn/uttak/server/UttakplanApiTest.kt
Labels: domene/kontrakt

#350 Livets sluttfase: endrer pleiebehov så den også kan brukes her
  server/src/main/resources/db/migration/V1.12__endring_av_pleiebehov.sql
Labels: feature
