Repository navikt/pleiepenger-barn-uttak, pull requests merged in 2022-03, with the labels that each got.

#458 Lagd en ny konstruktør for Uttaksplan med default verdier for kvoteIn…
  kontrakter/src/main/kotlin/no/nav/pleiepengerbarn/uttak/kontrakter/Uttaksplan.kt
Labels: domene/kontrakt

#463 PLS: regner ut riktig kvote når det er brukt under 1 dag
  regler/src/main/kotlin/no/nav/pleiepengerbarn/uttak/regler/delregler/MaxAntallDagerRegel.kt
  regler/src/test/kotlin/no/nav/pleiepengerbarn/uttak/regler/UttakTjenesteGraderingTest.kt
  server/src/test/kotlin/no/nav/pleiepengerbarn/uttak/server/UttakplanApiTest.kt
Labels: bug

#465 Endrer kontrakt for utenlandsopphold til å ligge på eget object
  kontrakter/src/main/kotlin/no/nav/pleiepengerbarn/uttak/kontrakter/Uttaksplan.kt
  regler/src/main/kotlin/no/nav/pleiepengerbarn/uttak/regler/UttaksplanRegler.kt
  regler/src/test/kotlin/no/nav/pleiepengerbarn/uttak/regler/SimuleringTjenesteTest.kt
  regler/src/test/kotlin/no/nav/pleiepengerbarn/uttak/regler/UttakTjenesteGraderingTest.kt
  regler/src/test/kotlin/no/nav/pleiepengerbarn/uttak/regler/UttaksplanMergerTest.kt
  regler/src/test/kotlin/no/nav/pleiepengerbarn/uttak/regler/delregler/MaxAntallDagerRegelTest.kt
  regler/src/test/kotlin/no/nav/pleiepengerbarn/uttak/regler/kontrakter_ext/RegelGrunnlagExtKtTest.kt
  server/src/main/kotlin/no/nav/pleiepengerbarn/uttak/server/db/UttaksperiodeRepository.kt
  server/src/test/kotlin/no/nav/pleiepengerbarn/uttak/server/UttakplanApiTest.kt
  server/src/test/kotlin/no/nav/pleiepengerbarn/uttak/server/db/UttakRepositoryTest.kt
Labels: bug, domene/kontrakt

#471 PLS: Slå sammen forrige og ny uttaksplan for å regne ut riktig kvote
  regler/src/main/kotlin/no/nav/pleiepengerbarn/uttak/regler/delregler/MaxAntallDagerRegel.kt
  server/src/test/kotlin/no/nav/pleiepengerbarn/uttak/server/UttakplanApiTest.kt
Labels: bug

#473 TSF-2434 Lagt til et flag som sier om et Utenlandsopphold er innenfor…
  kontrakter/src/main/kotlin/no/nav/pleiepengerbarn/uttak/kontrakter/RegionUtil.kt
  kontrakter/src/main/kotlin/no/nav/pleiepengerbarn/uttak/kontrakter/Uttaksplan.kt
  regler/src/main/kotlin/no/nav/pleiepengerbarn/uttak/regler/delregler/UtenlandsoppholdRegel.kt
  server/src/test/kotlin/no/nav/pleiepengerbarn/uttak/server/UttakplanApiTest.kt
Labels: feature, domene/kontrakt
